*{
    margin: 0;
    padding: 0;
}

body{
    background-color: beige;
}


.gallery {
    padding-top: 100px;
	width: 1025px;
    margin: 0 auto;
    text-align: center;
}
.photos {
    height: 800px;
	position: relative;
}
.photos img:first-child{
    display: block;
}
img{
    position: absolute;
    width: 100%;
  left: 0;
    opacity: 0;
   
    -webkit-transition: opacity 2s;
   
    transition: opacity 2s;
}

.photos .show{
    opacity: 1;
      -webkit-transition: opacity 2s;
      -webkit-transition: opacity 5s;
      transition: opacity 5s;
}
.buttons input{
    padding: 10px 30px 10px 30px;
}